.badge1 {
    position:relative;
 }
 .badge1[data-badge]:before {
    content:attr(data-badge);
    position:absolute;
    bottom:5px;
    right:6px;
    font-size:.7em;
    background:red;
    color:white;
    width:12px;height:12px;
    text-align:center;
    line-height:18px;
    border-radius:50%;
    box-shadow:0 0 1px #333;
    z-index: 1;
 }