.test1 {
  width: 100wh;
  height: 100vh;
  color: #fff;
  /* background: linear-gradient(-45deg, rgb(7, 7, 7), rgb(15, 14, 15), rgb(79, 79, 80), rgb(184, 185, 185)); */
  /* background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB); */
  background: linear-gradient(
    -45deg,
    rgb(214, 148, 128),
    rgb(212, 124, 158),
    rgb(122, 192, 218),
    rgb(105, 221, 194)
  );
  /* background: linear-gradient(-45deg, rgb(7, 7, 7), rgb(8, 8, 8), rgb(255, 226, 94), rgb(158, 158, 158)); */
  /* background: linear-gradient(-90deg, rgb(7, 7, 7), rgb(61, 61, 61), rgb(129, 130, 131), rgb(235, 232, 232)); */
  background-size: 400% 400% !important;
  -webkit-animation: Gradient 10s ease infinite;
  -moz-animation: Gradient 10s ease infinite;
  animation: Gradient 10s ease infinite;
}
.testimage {
  width: 150px !important;
}
.swiper-container {
  height: 260px !important;
}
.paused {
  -webkit-animation-play-state: paused; /* Safari 4.0 - 8.0 */
  animation-play-state: paused;
}

@-webkit-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@-moz-keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1,
h6 {
  font-family: 'Open Sans';
  font-weight: 300;
  text-align: center;
  position: absolute;
  top: 45%;
  right: 0;
  left: 0;
}
